.article_headings {
}

.article_content {
  padding-bottom: 30px;
  text-align: justify;
  width: 100%;
}

.article_title {
  font-weight: 800;
  text-align: left;
}

.author {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 30px 0;
  gap: 10px;
}
.author_img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 5px;
}
.author_name {
  font-weight: 800;
}
.author_date {
  margin-left: 5px;
}

.article_infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background: rgba(179, 179, 179, 0.1);
  margin-bottom: 40px;
}

.article_h2 {
  margin-top: 20px;
  padding: 20px 0;
  font-weight: 600;
  color: var(--accent-color);
}
.article_h3 {
  margin-top: 10px;
  padding: 20px 0;
  font-weight: 600;
}
.article_h4 {
  padding: 20px 0;
  font-weight: 400;
}
.article_video {
  display: block;
  width: 500px;
  height: 400px;
  margin: auto;
}
.article ul,
ol {
  padding-left: 20px;
}

.article_line {
  width: 70%;
  height: 2px;
  margin: 30px auto;
  background: var(--accent-color);
  border: none;
}
