.card_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 0 20px;
}

.card {
  width: 320px;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s all ease;
  margin: auto;
}
.card:hover {
  box-shadow: 10px 10px 5px rgb(0 0 0);
}

.card:hover .card_img {
  transform: scale(1.2);
}
.card_header {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.card_tags {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--secondary-color);
}
.card_tag {
  background: var(--accent-color);
  font-size: 0.9rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}
.card_img {
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--primary-color);
  transition: 0.4s all ease;
}

.card_content {
  padding: 20px;
}
.card_title {
  color: var(--primary-color);
  line-height: 25px;
  padding: 0 0 10px 0;
  font-size: 1.8rem;
}
.card_text {
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 2rem;
  height: 100%;
  transition: 0.5s all ease;
}

.card_more {
  color: grey;
  font-size: 1.1rem;
  padding: 10px;
}

.card_infos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
}

.card_date {
}

.card_author {
  font-weight: 800;
}
