.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px auto;
}

.form_container {
  /* padding: 20px 30px; */
  padding: 5% 8%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  border-right: 1px solid var(--accent-color);
}

.form_subheading {
  color: var(--accent-color);
}

.form_label {
  margin-bottom: 10px;
}
.form_span {
  font-size: 1.2rem;
  font-weight: 800;
}
.form_input {
  margin-top: 5px;
  display: block;
  border: none;
  background: var(--secondary-color);
  width: 100%;
  max-width: 500px;
  padding: 10px;
  outline: none;
}

.form_input::placeholder {
  color: rgb(183, 183, 183);
}

.form_error {
  padding: 10px 0;
  color: red;
  font-style: italic;
}

textarea:focus,
input:focus {
  outline: none;
  border: 2px solid var(--accent-color);
}
