.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px auto;
}

.form_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.form_heading {
  color: var(--accent-color);
}

.form_label {
  margin-bottom: 10px;
}
.form_span {
  font-size: 1.2rem;
  font-weight: 800;
}
.form_input {
  margin-top: 5px;
  display: block;
  border: none;
  background: rgba(167, 167, 167, 0.1);
  width: 100%;
  max-width: 500px;
  padding: 10px;
  outline: none;
}

.form_error {
  padding: 10px 0;
  color: red;
}

textarea:focus,
input:focus {
  outline: none;
  border: 2px solid var(--accent-color);
}
