@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: Poppins;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 255, 255);
  --accent-color: rgb(168, 123, 203);
  --placeholder-color: rgb(129, 129, 129);
  --bg-color: rgba(0, 0, 0, 0.242);
}

a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 800;
  /* font-size: 1.4rem; */
}

a.anchor {
  display: block;
  position: relative;
  top: -10vh;
  visibility: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
  padding-bottom: 20px;
  text-align: left;
}

h3 {
  font-weight: bold;
  font-size: 1.6rem;
  padding-bottom: 20px;
}

h4 {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

p,
li {
  font-weight: 100;
  /* font-size: 1.4rem; */
  line-height: 26px;
}

mark {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

figure img {
  height: 200px;
  margin: 30px auto;
}

article ul,
ol {
  padding-left: 20px;
}

textarea:focus,
input:focus {
  outline: none;
  border: 2px solid var(--accent-color);
}

.container {
  padding: 40px 6%;
  max-width: 1400px;
}
