@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 255, 255);
  --accent-color: #330656;
  --placeholder-color: rgb(129, 129, 129);
  --bg-color: rgba(0, 0, 0, 0.242);
}

a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 800;
}

a.anchor {
  display: block;
  position: relative;
  top: -10vh;
  visibility: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  padding-bottom: 20px;
  text-align: left;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

h4 {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

strong {
  font-weight: 500;
}
p,
li {
  font-weight: 100;
  line-height: 2.3rem;
  font-size: 1.1rem;
}

mark {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

figure {
  display: block;
  max-width: 100%;
  max-height: 400px;
  margin: 30px auto 10px;
  border-radius: 8px;
  border: 6px solid var(--accent-color);
  overflow: hidden;
}

figure img {
  width: 100%;
  object-fit: cover;
}

/* article ul,
ol {
} */

article ol {
  padding: 2rem 3rem;
  list-style: auto;
}

article ul {
  padding: 2rem 1rem;
  /* list-style: disc; */
}

article li {
  margin: 1rem 0;
}

article li:first-child {
  margin-top: 0;
}

article li:last-child {
  margin-bottom: 0;
}

article ol li::marker {
  color: var(--accent-color);
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

article ul li::before {
  content: "\2B24";
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  color: var(--accent-color);
  margin-right: 0.5rem;
}

textarea:focus,
input:focus {
  outline: none;
  border: 2px solid var(--accent-color);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.btn {
  @apply inline-block cursor-pointer overflow-hidden bg-accent border-accent border-2 
  text-lg text-white px-8 py-4 rounded-lg shadow-lg font-semibold;
}
.btn-sm {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.btn:hover {
  @apply bg-transparent text-accent;
}
.btn:focus {
  @apply outline-none;
}
.btn:active {
  @apply bg-accent;
}

/* @media (min-width: 2000px) {
  figure img {
    max-height: 500px;
  }
} */

@media (min-width: 800px) {
  figure {
    max-width: 600px;
  }
}
@media (min-width: 1400px) {
  figure {
    max-width: 800px;
    max-height: 450px;
  }
}

@media (max-width: 600px) {
  /* p,
  li {
    font-size: 1rem;
  } */
  html {
    font-size: 12px;
  }
}
