@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 255, 255);
  --accent-color: rgb(168, 123, 203);
  --placeholder-color: rgb(129, 129, 129);
  --bg-color: rgba(0, 0, 0, 0.242);
}

a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 800;
}

a.anchor {
  display: block;
  position: relative;
  top: -10vh;
  visibility: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  padding-bottom: 20px;
  text-align: left;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

h4 {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

p,
li {
  font-weight: 100;
  line-height: 26px;
}

mark {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

figure img {
  max-width: 100%;
  margin: 30px auto 10px;
  max-height: 300px;
  object-fit: contain;
}

/* article ul,
ol {
} */

article ol {
  margin: 30px;
  list-style: auto;
}

article ul {
  margin: 30px;
  list-style: disc;
}

article li {
  padding: 0.3rem;
  font-weight: 500;
}

article li::marker {
  color: var(--accent-color);
  font-size: 2rem;
}

textarea:focus,
input:focus {
  outline: none;
  border: 2px solid var(--accent-color);
}

.container {
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 1500px;
  margin: 0 auto;
}

.btn {
  @apply inline-block cursor-pointer overflow-hidden bg-accent border-accent border-2 
  text-lg text-white px-8 py-4 rounded-lg shadow-lg font-semibold;
}
.btn-sm {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.btn:hover {
  @apply bg-transparent text-accent;
}
.btn:focus {
  @apply outline-none;
}
.btn:active {
  @apply bg-accent;
}

@media (min-width: 2000px) {
  figure img {
    max-height: 500px;
  }
}

@media (min-width: 1600px) {
  figure img {
    max-height: 400px;
  }
}

@media (max-width: 1000px) {
  figure img {
    max-height: 200px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 30px;
  }
}
