@media (max-width: 900px) {
  html {
    font-size: 9px;
  }
  .card_wrapper {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .section--grid {
    grid-template-columns: 1fr;
  }
  .form_container {
    border-bottom: 2px solid var(--accent-color);
    border-right: 0;
  }
}

@media (max-width: 800px) {
  .cta {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .cta_btn {
    justify-content: flex-start;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 9px;
  }
  .blog_text {
    width: 100%;
  }

  .hero_headings {
    padding: 20px 5%;
  }

  .article_video {
    width: 100%;
  }
  .card_wrapper {
    grid-template-columns: 1fr;
  }

  .section--grey {
    border: none;
  }
  .comment_wrapper {
    width: 100%;
    /* padding: 20px 30px; */
  }
  .article_line {
    width: auto;
    margin: 0 8%;
  }
}
