.section {
  background: #000000;
  color: #ffffff;
}

.section--white {
  background: #ffffff;
  color: #000000;
}

.section--grey {
  background: rgba(179, 179, 179, 0.1);
  color: #000000;
  border-top: 1px solid var(--accent-color);
}

.section--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section--blog {
  padding-top: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5% 8%;
  margin: auto;
}

.container--article {
  max-width: 1400px;
  width: 100%;
  align-items: flex-start;
  /* padding: 3% 8%; */
}
